name: Build and Deploy React App

on:
  push:
    branches:
      - master # or the branch you want to deploy from

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.14.2" # specify the Node.js version you want to use

      - name: Install dependencies
        run: npm install

      - name: Build the app
        run: npm run build
